* {
  margin: 0;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: rgb(16, 16, 159);
  padding: 1rem;
  font-size: 30px;
}

.main-div1 {
  color: white;
  text-decoration: none;
}

.main-div1:hover {
  color: purple;
}
